/* commons */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 16px;
  color: hsla(0, 0%, 100%, 0.75);
}

body {
  width: 1440px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.left {
  float: left;
}

main h2 {
  font-family: 'Big Shoulders Display', cursive;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  margin: 40px 0;
}

main p {
  line-height: 25px;
  word-spacing: 3px;
  margin-bottom: 70px;
}

main button {
  padding: 15px 35px;
  border-radius: 40px;
  border: 2px solid white;
  color: white;
  background-color: rgba(255, 255, 255, 0);
}

/* debug section
.debug #sedans {
  height: 800px;
} 

.debug #suvs {
  height: 800px;
} */

.debug #luxury {
  height: 800px;
}

/* main */
main {
  width: 70%;
  margin: 0 auto;
}

/* main - sedans section */
#sedans {
  width: 33.333%;
  background-color: hsl(31, 98%, 58%);
  padding: 50px;
}

#sedans button:hover {
  background-color: white;
  color: hsl(31, 98%, 58%);  
}



/* main - suvs section */
#suvs {
  width: 33.333%;
  background-color: hsl(184, 100%, 22%);
  padding: 50px;
}

#suvs button:hover {
  background-color: white;
  color: hsl(184, 100%, 22%);  
}

/* main - luxury section */
#luxury {
  width: 33.333%;
  background-color: hsl(179, 100%, 13%);
}